@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#qr_image{
    opacity: 0;
    padding-top:15px;
    margin-top: 15px;
    width: 170px
}

.mystyle{
    background-color: rgb(45 212 191);
    height: 200px;
    width: 300px;
    margin: 0 auto;
    transition: all 1.5s ease-in-out;
}